version: 2.1

jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
        auth:
          username: $DOCKER_USERNAME
          password: $DOCKER_PASSWORD
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run:
          name: Build and push Docker image
          command: |
            docker build -t zhaoge5555/node .
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD zhaoge5555
            docker run zhaoge5555/node

workflows:
  version: 2.1
  build-and-publish:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
