version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.16.3
    steps:
      - checkout
      - run: npm install
      - run: npm test

  deploy:
    docker:
      - image: zhaoge5555/node:latest
    steps:
      - checkout
      - run:
          name: Build and push to Docker Hub
          command: |
            docker build -t zhaoge5555/node .
            docke run zhaoge5555/node

workflows:
  version: 2
  build-master:
    jobs:
      # - build
      - deploy:
          requires:
            - build
